:host {
  padding: 12px 0;
  /*border-top: 1px solid #ccc;*/
  text-align: center;
  min-height: 80px;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  color:#2D2D2D;
}
.message {
  line-height: 1.5;
}
.logo_eisoo{
  background-image: url("../../../res/img/logo.png");
  background-repeat: no-repeat;
  background-size: 210px 32px;
  background-position: 6px 10px;
  height: 36px;
  width: 145px;
  margin: 0 auto;
  margin-bottom: 10px;

}
