<div class="modal-pending" *ngIf="promptContentSubmit == 1">
  <div class="modal-pending-spinner">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</div>
<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="modal-title">{{title|translate}}</p>
</div>
<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
  <div class="modal-body">
    <div class="panel-body">
      <div>
      <div class="outer">
        <label class="col-name" style="width: 100%" translate>请选择磁盘进行RAID重建</label>
      </div>
      <div style="max-height: 190px;overflow-y: auto;">
        <table class="table table-striped">
          <thead>
          <th><input type="checkbox" #cvall [checked]="false"
                     (change)="$event.target.checked? addDiskAll(true) : addDiskAll(false)"
          ></th>
          <th *ngFor="let item of tNewRaid" style="font-weight: normal">{{item|translate}}</th>
          </thead>
          <tbody>
          <tr *ngFor="let item of diskRaidInfoList;let i = index;">

            <td>
              <input type="checkbox" [checked]="cvall.checked"
                     (change)="$event.target.checked? addDiskItem(item.slot_number) : delDiskItem(item.slot_number)">
            </td>
            <td>{{item.slot_number}}</td>
            <td>{{item.type}}</td>
            <td>{{item.capacity}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="pedding_tbody">{{promptContent|translate}}</div>
    </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-secondary" [disabled]="slot_numbers1.length==0" translate>确定</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)" translate>取消</button>
  </div>
</form>
