<div class="modal-pending" *ngIf="promptContentSubmit == 1">
  <div class="modal-pending-spinner">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>
</div>
<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="modal-title">{{title|translate}}</p>
</div>
<form (ngSubmit)="onRollSubmit()" #userForm="ngForm">
  <div class="modal-body">
    <div class="panel-body">
      <div class="outer">
        <label for="currentPassword" class="col-name">
          <span translate class="col-name-span">旧密码</span>
        </label>
        <div class="col-text">
          <input type="text" class="col-input-text" id="currentPassword" placeholder='{{"请输入旧密码"|translate}}'
                 required onfocus="this.type='password'"
                 [(ngModel)]="editPasswordModel.currentPassword" name="currentPassword"
                 #currentPassword="ngModel" (keyup)="onKeyup(editPasswordModel.currentPassword,'current')"
          />
        </div>
      </div>
      <div *ngIf="inputType == 'current'">
        <div *ngIf="currentPassword.touched&&currentPassword.errors&&currentPassword.errors.required"
             [class.bubble]="currentPassword.errors&&currentPassword.errors.required" style="top: 10px;left: 372px;">
          <div class="arrow"></div>
          <div class="bubble_msg" translate>请输入当前密码</div>
        </div>
        <div *ngIf="!currentPassword.errors||!currentPassword.errors.required" [class.bubble]="curPasswordError!=''" style="top: 50px;left: 372px;">
          <div class="arrow"></div>
          <div class="bubble_msg">{{curPasswordError|translate}}</div>
        </div>
      </div>
      <div class="outer">
        <label for="newPassword" class="col-name">
          <span translate  class="col-name-span">新密码</span>
        </label>
        <div class="col-text">
          <input type="text" class="col-input-text" id="newPassword" placeholder='{{"请输入新密码"|translate}}'
                 required onfocus="this.type='password'"
                 [(ngModel)]="editPasswordModel.newPassword" name="newPassword"
                 #newPassword="ngModel" (keyup)="onKeyup(editPasswordModel.newPassword,'new')"
                 [class.borderRed]="newPasswordError"
          />
        </div>
      </div>
      <!--新密码错误提示-->
      <div *ngIf="inputType == 'new'">
        <div *ngIf="newPassword.touched&&newPassword.errors&&newPassword.errors.required"
             [class.bubble]="newPassword.errors&&newPassword.errors.required" style="top: 50px;left: 372px;">
          <div class="arrow"></div>
          <div class="bubble_msg" translate>新密码不能为空</div>
        </div>
        <div *ngIf="!newPassword.errors||!newPassword.errors.required" [class.bubble]="newPasswordError!=''" style="top: 50px;left: 372px;">
          <div class="arrow"></div>
          <div class="bubble_msg">{{newPasswordError|translate}}</div>
        </div>
      </div>
      <div class="outer">
        <label for="newPasswordConfirm" class="col-name">
          <span translate class="col-name-span">确认密码</span>
        </label>
        <div class="col-text">
          <input type="text" class="col-input-text" id="newPasswordConfirm"  placeholder='{{"请输入确认密码"|translate}}'
                 required onfocus="this.type='password'"
                 [(ngModel)]="editPasswordModel.newPasswordConfirm" name="newPasswordConfirm"
                 #newPasswordConfirm="ngModel" (keyup)="onKeyup(editPasswordModel.newPasswordConfirm,'conf')"
          />
        </div>
      </div>
      <div *ngIf="inputType == 'conf'">
        <div *ngIf="newPasswordConfirm.touched&&newPasswordConfirm.errors&&newPasswordConfirm.errors.required"
             [class.bubble]="newPasswordConfirm.errors&&newPasswordConfirm.errors.required" style="top: 90px;left: 372px;"
        >
          <div class="arrow"></div>
          <div class="bubble_msg" translate>确认密码不能为空</div>
        </div>
      </div>
      <div class="color_red">
        {{confPasswordError|translate}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-secondary" [disabled]="!userForm.form.valid||curPasswordError!==''||confPasswordError!==''||newPasswordError!==''" translate>确定</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close(false)" translate>取消</button>
  </div>
</form>
