<!--<div class="handle" *ngIf="PendStatus == 1">-->
<!--<div>{{PendStatusToCh}}中</div>-->
<!--<div><i class="fa fa-spinner fa-pulse" aria-hidden="true"></i></div>-->
<!--</div>-->

<!--初始化的时候-->
<!--<div class="main-container">-->
  <!--<p class="load" *ngIf="PendStatus == 1" style="width: 800px">-->
    <!--&lt;!&ndash;manage 容器异常，请到容器与服务页面<a href="/container" style="text-decoration: underline;">重启</a>&ndash;&gt;-->
    <!--manage 容器异常，请到容器与服务页面<a href="/container" style="text-decoration: underline;">重启</a>-->
  <!--</p>-->
<!--</div>-->

<!--<ar-overview  *ngIf="PendStatus == 0"></ar-overview>-->
<!--<ar-licence-list  *ngIf="PendStatus == 0"></ar-licence-list>-->

<ar-overview></ar-overview>
<ar-licence-list></ar-licence-list>
