
.panel {
  position: relative;
  display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  padding: 20px;
  padding-left: 40px;
}
.thumbnail {
  display: block;
  padding: 4px;
  width: 260px;
  float: left;
  margin: 0 10px;
  /*margin-bottom: 20px;*/
  line-height: 1.42857143;
  height: 88px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}
.thumbnail .caption span {
  display: inline-block;
  padding: 5px;

}
.thumbnail .caption p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 10px 0;
  font-size: 1.6rem;
  font-weight: bold;

}





